html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  margin-top: 124px;
}

img {
  max-width: 100%;
  height: auto;
}
@include responsive(1024) {
  .body {
    margin-top: 68px;
    &--nojs {
      margin-top: 0;
    }
  }
}
