.services {
  padding-top: 66px;
  padding-bottom: 35px;
}
.services__container {
  position: relative;
  padding-left: 66px;
  padding-right: 66px;
}

.services__slider-btn {
  width: 42px;
  height: 48px;
  padding: 0;
  border: 2px solid #1d6ecb;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 5;
  &:hover {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  &:active {
    opacity: 0.6;
  }
}
.services__slider-btn--prev {
  background-image: url("../img/prev-carusel.svg");
  left: 0;
}
.services__slider-btn--next {
  background-image: url("../img/carusel-next.svg");
  right: 0;
}
.services__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  overflow-x: hidden;
}
.services__item {
  width: 200px;
  flex-shrink: 0;
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}
.services__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  color: #272727;
  background-color: #ffffff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px 65px;
  &::before {
    content: "";
    width: 100%;
    height: 66px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 12px;
  }
  &--axe::before {
    background-image: url("../img/modern-tech.png");
  }
  &--brush::before {
    background-image: url("../img/hygieny.png");
  }
  &--search::before {
    background-image: url("../img/teeth-dia.png");
  }
  &--axe::before {
    background-image: url("../img/modern-tech.png");
  }
  &--girl::before {
    background-image: url("../img/children-den.png");
  }
}
.services__item-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #272727;
}
.services__item-prices {
  padding-top: 12px;
  position: relative;
  &::before {
    content: "";
    height: 3px;
    width: 25px;
    background-color: #0a60c3;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.services__item-old-price {
  margin-top: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.25);
}
.services__item-new-price {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0a60c3;
}
@include responsive(500) {
  .services__slider {
    display: none;
  }
}
@include retina-bg {
  .services__link {
    &--axe::before {
      background-image: url("../img/modern-tech@2x.png");
    }
    &--brush::before {
      background-image: url("../img/hygieny@2x.png");
    }
    &--search::before {
      background-image: url("../img/teeth-dia@2x.png");
    }
    &--axe::before {
      background-image: url("../img/modern-tech@2x.png");
    }
    &--girl::before {
      background-image: url("../img/children-den@2x.png");
    }
  }
}
